amqp (1.4.6)
anyjson (0.3.3)
beautifulsoup4 (4.3.2)
billiard (3.3.0.20)
celery (3.1.18)
diff-match-patch (20121119)
Django (1.8.2)
django-celery (3.1.16)
django-constance (1.0.1)
django-extensions (1.5.5)
django-import-export (0.2.7)
ipython (3.1.0)
kombu (3.0.26)
pip (7.0.3)
psycopg2 (2.6)
pytz (2015.4)
redis (2.10.3)
selenium (2.46.0)
setuptools (11.0)
six (1.9.0)
tablib (0.10.0)
