{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}
{% load url from future %}

{% block extrastyle %}
  {{ block.super }}
  {#  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />#}
  {% if cl.formset %}
    {#    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />#}
  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block content %}

  <div id="content-main">
    <div class="module" id="changelist">
        <form id="changelist-form" action="" method="post">{% csrf_token %}
            {% if form.errors %}
            <ul class="errorlist">
            {% endif %}
            {% for field in form.hidden_fields %}
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                {{ field }}
            {% endfor %}
            {% if form.errors %}
            </ul>
            {% endif %}
            <table id="result_list" class="table table-bordered table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Default" %}</th>
                    <th>{% trans "Value" %}</th>
                    <th>{% trans "Is modified" %}</th>
                </tr>
                </thead>
                <tbody>
                  {% for item in config %}
                  <tr class="{% cycle 'row1' 'row2' %}">
                      <th>
                          <strong>{{ item.name }}</strong>
                          <div class="help">{{ item.help_text }}</div>
                      </th>
                      <td>
                          {{ item.default }}
                      </td>
                          <td>
                              {{ item.form_field.errors }}
                              {{ item.form_field }}
                          </td>
                      <td>
                          {% if item.modified %}
                              <img src="{% static 'admin/img/icon-yes.gif' %}" alt="{{ item.modified }}" />
                          {% else %}
                              <img src="{% static 'admin/img/icon-no.gif' %}" alt="{{ item.modified }}" />
                          {% endif %}
                      </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
            <input type="submit" name="_save" class="btn btn-success" value="{% trans 'Save' %}"/>
        </form>
    </div>
  </div>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {{ opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
